<!-- page 1 -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img src="assets/imge/first-page.jpg" class="d-block w-100" style="height: 80vh; object-fit: cover;" alt="...">

      <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0,0,0,0.5);"></div>


      <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
        <p class="mb-2">THE BEST SELLING</p>
        <p>________ <i class="bi bi-star-fill" style="color: rgb(252, 222, 112);"></i>_______</p>
        <h1 class="fw-bold">Bakery THEME</h1>
        <p class="mb-3">IN THE FOOD CATEGORY OF ALL TIME</p>


        <a href="/" class="btn px-4 py-2"
           style="background-color: rgb(223, 223, 112); color: black;">
          OPENING HOURS
        </a>
      </div>
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row align-items-center">


    <div class="col-md-6 mb-4 mb-md-0 text-start">
      <h2 class="fw-bold mb-3">All Products</h2>
      <p>
        Lorem ipsum dolor sit amet, consect etur adip iscing elit. Proin rhoncus urna dictum neque molestie ultricies.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consect etur adip iscing elit. Proin rhoncus urna dictum neque molestie ultricies.
      </p>


      <a href="/" class="btn px-4 py-2"
         style="background-color: rgb(229,229,185); color: black;">
        Shop Now
      </a>
    </div>


    <div class="col-md-6 text-center">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/8gHyOVjZwyE"
          title="YouTube video"
          allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>
</div>


<div class="text-center my-5">
  <h2 style="font-size: 3rem; color: #6c757d; font-weight: bold;">
    Sweets for Parties

  </h2>
  <p>
  _________________________________________________
  <i class="bi bi-square-fill" style="color:#dabb0b;"></i>
  _________________________________________________
  <i class="bi bi-square-fill" style="color:#dabb0b;"></i>
  _____________________________________________
</p>


</div>
<div class="container my-5">
  <div class="row text-center">


    <div class="col-md-4 mb-4">
      <h2 class="display-5">01<br>Choose the Cake</h2>
      <p>Lorem ipsum dolor sit amet, tempus iaculis. Duis pretium pretium tortor sagittis, at odio</p>

       <div class="position-relative text-center mt-4">
    <img src="assets/imge/FOOTER.jpg" class="img-fluid rounded" alt="Oil Bread">


    <div class="position-absolute top-50 start-50 translate-middle text-white">
      <h4>OIL BREAD RECIPE</h4>
      <p>Lorem ipsum dolor sit amet, tempus iaculis. Duis pretium pretium tortor</p>
      <a href="#" class="btn btn-warning">Download Course</a>
    </div>
  </div>
    </div>


    <div class="col-md-4 mb-4">
      <h2 class="display-5">02<br>Decorations</h2>
      <p>Lorem ipsum dolor sit amet, tempus iaculis. Duis pretium pretium tortor sagittis, at odio</p>


      <div class="mt-4">
        <h3>PANCAKES</h3>
        <p>Lorem ipsum dolor sit amet,<br> tempus iaculis. Duis pretium</p>
<a href="/" class="btn"
         style="background-color: rgb(229, 229, 185); color: black; font-weight: 500;">
        DETAILS
      </a>
        <h3>MUFFINS</h3>
        <p>Lorem ipsum dolor sit amet,<br> tempus iaculis. Duis pretium</p>
        <a href="/" class="btn"
         style="background-color: rgb(229, 229, 185); color: black; font-weight: 500;">
        DETAILS
      </a>
      </div>
    </div>


    <div class="col-md-4 mb-4">
      <h2 class="display-5">03<br>Enjoy your Sweets</h2>
      <p>Lorem ipsum dolor sit amet, tempus iaculis. Duis pretium pretium tortor sagittis, at odio</p>


      <div class="mt-4">
        <h3>APPLE CAKE</h3>
        <p>Lorem ipsum dolor sit amet,<br> tempus iaculis. Duis pretium</p>
        <a href="/" class="btn"
         style="background-color: rgb(229, 229, 185); color: black; font-weight: 500;">
        DETAILS
      </a>

        <h3>FRESH BREAD</h3>
        <p>Lorem ipsum dolor sit amet,<br> tempus iaculis. Duis pretium</p>
        <a href="/" class="btn"
         style="background-color: rgb(229, 229, 185); color: black; font-weight: 500;">
        DETAILS
      </a>
      </div>
    </div>


  </div>
</div>
