/*.custom-link {
  color: #bbb;
  transition: all 0.3s ease;
  position: relative;
}

.custom-link:hover {
  color: #fff; 
}

.active-link {
  color: #fff !important; 

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background-color: #fff; */
.navbar {
  padding: 15px 0;
}

.navbar-nav {
  font-size: 1.1rem; /* تكبير الخط */
  font-weight: 600;  /* سمك الخط */
}

.custom-link {
  color: #ddd;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
  padding: 8px 15px;
}

.custom-link:hover {
  color: #fff;
}

.active-link {
  color: #fff !important;
}

.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: gold;
  position: absolute;
  bottom: 0;
  left: 0;
}
.custom-link {
  color: black !important;
}
